In [18]:
import pandas as pd

In [19]:
crime = pd.read_csv('police.csv',encoding='cp1252')
fips = pd.read_csv('fips.csv',encoding='cp1252')
stateAbr = pd.read_csv('us-state-names.tsv',sep='\t')

                         NAME STATE   STFP
0                     Autauga    AL   1001
1                     Baldwin    AL   1003
2                     Barbour    AL   1005
3                        Bibb    AL   1007
4                      Blount    AL   1009
...                       ...   ...    ...
3205       Toa Alta Municipio    PR  72135
3206       Toa Baja Municipio    PR  72137
3207  Trujillo Alto Municipio    PR  72139
3208         Utuado Municipio    PR  72141
3209      Vega Alta Municipio    PR  72143

[3210 rows x 3 columns]

In [20]:
#create a dictionary with state name in lowercase to abreviation
stateDict = {}
for i in range(len(stateAbr['name'])):
    stateDict[stateAbr['name'][i].lower()] = stateAbr['code'][i]

In [21]:
for i in range(len(crime['State'])):
    crime['State'][i] = stateDict[crime['State'][i].lower()]

C:\Users\charu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#remove extra spaces in the fips dataset
for i in range(len(fips['NAME'])):
    fips['NAME'][i] = fips['NAME'][i].rstrip()

C:\Users\charu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
for i in range(len(crime['State'])):
    fip = fips.loc[(fips['STATE'] == crime['State'][i]) & (fips['NAME'] == crime['County'][i])]['STFP'].values
    if(len(fip) > 0):
        crime['FIPS'][i] = fips.loc[(fips['STATE'] == crime['State'][i]) & (fips['NAME'] == crime['County'][i])]['STFP'].values[0]

C:\Users\charu\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [24]:
crime

         FIPS State      County Total_law Total\r\nofficers Total\r\ncivilians
0      1001.0    AL     Autauga        43                32                 11
1      1003.0    AL     Baldwin       319               135                184
2      1007.0    AL        Bibb        12                11                  1
3      1009.0    AL      Blount        48                44                  4
4      1033.0    AL     Colbert        57                31                 26
...       ...   ...         ...       ...               ...                ...
2503  56035.0    WY    Sublette        72                55                 17
2504  56037.0    WY  Sweetwater        86                37                 49
2505  56041.0    WY       Uinta        49                35                 14
2506  56043.0    WY    Washakie         8                 7                  1
2507  56045.0    WY      Weston         7                 7                  0

[2508 rows x 6 columns]

In [25]:
#download to csv
crime.to_csv (r'C:\Users\Charu\Desktop\policeFip.csv', index = False, header=True)